oai-langgraph-core @ git+https://github.com/Capgemini-Innersource/ptr_oai_agent_development_kit@main#subdirectory=packages/langgraph-core
oai-agent-server @ git+https://github.com/Capgemini-Innersource/ptr_oai_agent_development_kit.git@main#subdirectory=packages/agent-server
mcp_registry_servers_development @ git+https://github.com/Capgemini-Innersource/ptr-development-mcp-servers.git@main
mcp_registry_servers_cloud @ git+https://github.com/Capgemini-Innersource/ptr-cloud-mcp-servers.git@main
mcp_registry_servers_enterprise @ git+https://github.com/Capgemini-Innersource/ptr-enterprise-mcp-servers.git@main
langfuse